:host {
  .error-list {
    margin-top: 10px;
    font-size: 10px;

    li {
      display: block;
      & + li {
        margin-top: 4px;
      }
    }
  }

  &.mobile-view-wrapper {
    .error-list {
      display: flex;
      font-size: 12px;

      li {
        & ~ li {
          margin-top: 0;
          margin-left: 4px;
        }
      }
    }
  }
}
