<h1>Описание</h1>

<h2>Задача</h2>
<p>Идея данной задачи взята <a target="_blank" href="https://www.codewars.com/kata/robby-the-robot/javascript">отсюда</a></p>

<h2>Поля для ввода</h2>
<ol>
  <li>Строка, которая преобразуется в карту.
    Валидные значения: <i>'t', 'T', 's', 'S', '.', '#'</i>.
    Точка старта и точка финиша должна быть одна. Поле должно быть квадратным, значит длина строки должна быть полным квадратом.
  </li>
  <li>Мощность(power). Значение, которым ограничены шаги "зайчика".</li>
</ol>

<h3><a routerLink="/">Вернуться назад</a></h3>
